/* styling for container of home page*/
.container {
    min-height: 100vh;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .h1 {
    color: white;
    width: 70%;
    font-size: 35px;
}

.h1 span {
    color: #0074d9;
    width: 70%;
    font-size: 55px;
} */