/* styling for container of home page*/
.container {
    min-height: 100vh;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.h1 {
    color: white;
    width: 80%;
    font-size: 40px;
}

.h1 span {
    color: #0074d9;
    width: 80%;
    font-size: 60px;
}